<section class="flex justify-center items-center h-screen">
  <div class="m-24">
    <form>
      <h1 class="font-bold text-lg">Create a New Password</h1>
      <p class="text-gray-600 text-sm mt-2">Create a new strong password for your account.</p>
      <div class="password relative mt-4">
        <label for="password">New Password</label>
        <input
          [type]="inputTypeOfPassword"
          name="password"
          id="password"
          placeholder="***********"
          class="w-full p-2.5 border border-gray-400"
        />

        @if (flag1) {
          <lucide-icon
            [name]="eye"
            [size]="16"
            class="absolute right-1.5 bottom-2 cursor-pointer"
            (click)="showPassword()"
          ></lucide-icon>
        } @else {
          <lucide-icon
            [name]="eyeOff"
            [size]="16"
            class="absolute right-1.5 bottom-2 cursor-pointer"
            (click)="showPassword()"
          ></lucide-icon>
        }
      </div>
      <div class="relative mt-4">
        <label for="confirmPassword">Confirm New Password</label>
        <input
          [type]="inputTypeOfConfirmPassword"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="***********"
          class="w-full p-2.5 border border-gray-400"
        />

        @if (flag2) {
          <lucide-icon
            [name]="eye"
            [size]="16"
            class="absolute right-1.5 bottom-2 cursor-pointer"
            (click)="showConfirmPassword()"
          ></lucide-icon>
        } @else {
          <lucide-icon
            [name]="eyeOff"
            [size]="16"
            class="absolute right-1.5 bottom-2 cursor-pointer"
            (click)="showConfirmPassword()"
          ></lucide-icon>
        }
      </div>

      <button
        class="flex justify-center items-center w-full bg-blue-600 text-white py-2 mt-8 cursor-pointer"
      >
        Reset Password
      </button>
      <p class="text-gray-600 text-sm flex justify-center mt-8">
        Don’t have an account? <span class="text-blue-600 cursor-pointer ml-1"> Create yours</span>
      </p>
    </form>
  </div>
</section>
