<section class="flex h-screen justify-center items-center m-4">
  <form [formGroup]="registerForm" (ngSubmit)="registerFormHandler()">
    <h1 class="font-bold text-3xl">Create Account</h1>
    <h2 class="text-blue-600 font-bold">Create a strong password</h2>

    <div class="password relative mt-4">
      <label for="password">Password</label>
      <input
        formControlName="password"
        [type]="inputTypeOfPassword"
        name="password"
        id="password"
        placeholder="***********"
        class="w-full p-2.5 border border-gray-400"
      />

      @if (flag1) {
        <lucide-icon
          [name]="eye"
          [size]="16"
          class="absolute right-1.5 bottom-2 cursor-pointer"
          (click)="showPassword()"
        ></lucide-icon>
      } @else {
        <lucide-icon
          [name]="eyeOff"
          [size]="16"
          class="absolute right-1.5 bottom-2 cursor-pointer"
          (click)="showPassword()"
        ></lucide-icon>
      }
    </div>
    <div class="relative mt-4">
      <label for="confirmPassword">Confirm Password</label>
      <input
        formControlName="confirmPassword"
        [type]="inputTypeOfConfirmPassword"
        name="confirmPassword"
        id="confirmPassword"
        placeholder="***********"
        class="w-full p-2.5 border border-gray-400"
      />

      @if (flag2) {
        <lucide-icon
          [name]="eye"
          [size]="16"
          class="absolute right-1.5 bottom-2 cursor-pointer"
          (click)="showConfirmPassword()"
        ></lucide-icon>
      } @else {
        <lucide-icon
          [name]="eyeOff"
          [size]="16"
          class="absolute right-1.5 bottom-2 cursor-pointer"
          (click)="showConfirmPassword()"
        ></lucide-icon>
      }
    </div>
    <button
      routerLink="/register/userPassword"
      class="flex justify-center items-center w-full bg-blue-100 text-black py-2 mt-8 cursor-pointer border border-blue-600"
    >
      Create Account
    </button>
  </form>
</section>
